In [11]:
import pandas as pd 
import requests 
from nba_api.stats.endpoints import playercareerstats, teaminfocommon, leaguedashteamstats, leaguegamelog
from nba_api.stats.endpoints import leaguedashteamstats
from nba_api.stats.static import players
import time

In [2]:
headers  = {
    'Connection': 'keep-alive',
    'Accept': 'application/json, text/plain, */*',
    'x-nba-stats-token': 'true',
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36',
    'x-nba-stats-origin': 'stats',
    'Sec-Fetch-Site': 'same-origin',
    'Sec-Fetch-Mode': 'cors',
    'Referer': 'https://stats.nba.com/',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'en-US,en;q=0.9',
}

In [3]:
nba_players = players.get_active_players()
active_player = pd.DataFrame(nba_players)

In [4]:
active_player.head()

        id         full_name first_name last_name  is_active
0  1630173  Precious Achiuwa   Precious   Achiuwa       True
1   203500      Steven Adams     Steven     Adams       True
2  1628389       Bam Adebayo        Bam   Adebayo       True
3  1630534      Ochai Agbaji      Ochai    Agbaji       True
4  1630583      Santi Aldama      Santi    Aldama       True

In [6]:
active_player.to_csv("../data/API_Data/active_players.csv", index = True)

In [ ]:
seasons = ['2010-11', '2011-12', '2012-13', '2013-14', '2014-15', '2015-16', 
          '2016-17', '2017-18', '2018-19', '2019-20', '2020-21', '2021-22', 
          '2022-23', '2023-24', '2024-25']

In [ ]:
for season in seasons:
    try:
        print(f"Collecting data for {season}...")  
        advanced_stats = leaguedashteamstats.LeagueDashTeamStats(
            season=season,
            measure_type_detailed_defense='Advanced'
        ).get_data_frames()[0]

        advanced_stats.to_csv(f"../data/API_Data/team_stat_{season}.csv", index=True)
        print(f"Successfully saved {season}")  
        time.sleep(2)
        
    except Exception as e:
        print(f"Error for {season}: {e}")
        continue