In [27]:
import pandas as pd 
import requests 
from nba_api.stats.endpoints import playercareerstats, teaminfocommon, leaguedashteamstats, leaguegamelog
from nba_api.stats.endpoints import leaguedashteamstats
from nba_api.stats.static import players

In [3]:
headers  = {
    'Connection': 'keep-alive',
    'Accept': 'application/json, text/plain, */*',
    'x-nba-stats-token': 'true',
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36',
    'x-nba-stats-origin': 'stats',
    'Sec-Fetch-Site': 'same-origin',
    'Sec-Fetch-Mode': 'cors',
    'Referer': 'https://stats.nba.com/',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'en-US,en;q=0.9',
}

In [4]:
nba_players = players.get_players()
all_players = pd.DataFrame(nba_players)

Getting players data

In [5]:
all_players.head()

      id            full_name first_name     last_name  is_active
0  76001       Alaa Abdelnaby       Alaa     Abdelnaby      False
1  76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False
2  76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False
3     51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False
4   1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False

In [ ]:
all_players.to_csv("../data/API_Data/all_players.csv", index = True)

In [6]:
# to make a dataset only for the active players
active_players = []
for players in nba_players:
    if players["is_active"] == True:
        active_players.append(players) # this will give a list

In [7]:
active_players_df = pd.DataFrame(active_players)
active_players_df.to_csv("../data/API_DATA/active_players.csv", index = True)

Team info

In [24]:
advanced_stats = leaguedashteamstats.LeagueDashTeamStats(
    season='2024-25',
    measure_type_detailed_defense='Advanced'
).get_data_frames()[0]

In [21]:
advanced_stats.head()

,TEAM_ID,TEAM_NAME,GP,W,L,W_PCT,MIN,E_OFF_RATING,OFF_RATING,E_DEF_RATING,...,AST_TO_RANK,AST_RATIO_RANK,OREB_PCT_RANK,DREB_PCT_RANK,REB_PCT_RANK,TM_TOV_PCT_RANK,EFG_PCT_RANK,TS_PCT_RANK,PACE_RANK,PIE_RANK
0,1610612737,Atlanta Hawks,82,40,42,0.488,3956.0,111.9,113.7,112.6,...,13,7,13,10,13,22,17,17,3,17
1,1610612738,Boston Celtics,82,61,21,0.744,3966.0,117.5,119.5,108.0,...,3,13,18,7,11,2,5,8,29,3
2,1610612751,Brooklyn Nets,82,26,56,0.317,3956.0,105.7,108.1,112.8,...,25,21,16,23,25,27,27,26,28,27
3,1610612766,Charlotte Hornets,82,19,63,0.232,3951.0,104.0,106.7,113.8,...,28,26,8,17,16,28,30,30,23,29
4,1610612741,Chicago Bulls,82,39,43,0.476,3951.0,111.9,113.2,112.5,...,10,6,28,5,18,15,13,13,2,20

In [25]:
advanced_stats.to_csv("../data/API_DATA/team_stat_24-25.csv", index = True)

In [28]:
games = leaguegamelog.LeagueGameLog(
    season='2024-25',
    season_type_all_star='Regular Season'
).get_data_frames()[0]

In [29]:
games.to_csv("../data/API_DATA/game_24-25.csv", index = True)